:root {
  --dark-grey-card: #242424;
  --border-radius: 16px;
  --hover-purple: #9300FC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  color: #fff;
  font-family: 'Gilroy', sans-serif;
  cursor: default;
  max-width: 1480px;
  margin: 0 auto;
}

.body-scroll-disabled {
  height: 100%;
  overflow: hidden;
}

header {
  margin-top: 68px;
  margin-bottom: 68px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.mb-120 {
  margin-bottom: 120px;
}

.info-request-text {
  max-width: 580px;
}
.info-h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  margin: 24px 0 56px 0;
}
.info-h3 {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.error {
  border: 2px solid red !important;
}

.hover-text {
  display: inline-block;
  position: relative;
}
.hover-text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color:var(--hover-purple);
  transform-origin: bottom left;
  transition: transform 0.15s ease-out;
}
.hover-text:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.info-background,
.reviews-background,
.cases-logo-background,
.services-stack-background,
.blog-logo-background,
.team-img-background,
.services-solutions-background {
  position: absolute;
  z-index: -1;
  right: 0;
}

.info-background {
  top: 68px;
  height: 70vw;
  min-height: 660px;
  max-height: 980px;
}
.reviews-background {
  top: 2860px;
  object-position: 35px 0;
}
.cases-logo-background {
  top: 68px;
  height: 640px;
  width: 640px;
}
.services-solutions-background {
  top: 1800px;
  width: 230px;
  height: 230px;
  background-color: var(--hover-purple);
  filter: blur(180px);
  z-index: 1;
}
.services-stack-background {
  top: 4689px;
  width: 230px;
  height: 230px;
  background-color: var(--hover-purple);
  filter: blur(150px);
}
.team-img-background {
  top: 158px;
  height: 900px;
  object-position: 500px 0;
}
.blog-logo-background {
  top: 180px;
}
.main-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1055px;
}
.error-text {display: block}

.logo {
  display: flex;
  align-items: end;
  color: #fff;
  text-decoration: none;
}

.logo, .nav-item, #nav-burger, .go-clatch {
  cursor: pointer;
}

.nav-item {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}

#nav-burger {
  margin-left: 52px;
}

#burger-menu {
  position: absolute;
  top: -840px;
  left: 0;
  width: 100%;
  background-color: var(--dark-grey-card);
  overflow: hidden;
  z-index: 10;
  /* transition: all 0.5s ease-out; */
}
.burger-menu-wrapper {
  position: relative;
  margin: 40px 96px;
}
.burger-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}
#burger-close-icon {
  cursor: pointer;
}
.burger-body {
  width: 100%;
  display: flex;
  font-size: 56px;
}
.menu-pannel {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.social-links-burger {
  gap: 28px;
}
.social-links-burger > a > img {
  height: 48px;
}
.burger-text-link {
  font-weight: 500;
  line-height: 68px;
  color: #fff;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
}
.languages {
  display: flex;
  gap: 32px;
  font-weight: 400;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
}
.language {
  line-height: 39px;
  cursor: pointer;
}
.language-current {color: #fff}
.burger-background {
  position: absolute;
  right: -122px;
  bottom: -167px;
  width: 354px;
  height: 354px;
  background: rgba(147, 0, 252, 0.7);
  filter: blur(150px);
}

.wrapper {
  padding-left: 96px;
  padding-right: 96px;
}

.info-title {
  font-weight: 700;
  font-size: 96px;
  line-height: 119px;
  max-width: 1020px;
  margin-top: 120px;
}

.team-about {
  margin-top: 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 80%;
}

.our-principles {
  margin-top: 220px;
}

.info-list {
  font-size: 24px;
  list-style: none;
  display: flex;
  margin-top: 10px;
  gap: 40px;
}

.info-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 258px;
}

.info-card {
  position: relative;
  height: 100%;
  background-color: var(--dark-grey-card);
  border-radius: var(--border-radius);
  padding: 32px;
  overflow: hidden;
}

.principles-items {
  display: flex;
  gap: 24px;
}
.principle-item {
  width: 33.3%;
  height: auto;
}

.principle-number {
  position: absolute;
  bottom: -41px;
  right: -3px;
  font-size: 120px;
  font-weight: 700;
  color: rgba(147, 0, 252, 0.2);
}

.principles-image {
  height: 562px;
  width: 100%;
  margin-top: 24px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.hover-effect, .hover-effect-stable {
  width: 100%;
  height: 77px;
  position: absolute;
  bottom: -160px;
  left: 0;
  background: #9300FC;
  filter: blur(150px);
  opacity: 0;
}

.hover-effect-stable {
  opacity: 1;
  filter: blur(100px);
  bottom: -110px;
}

.hover-icon {
  position: absolute;
  bottom: 0;
  right: 22px;
  z-index: 0;
  fill: red;
  opacity: 0;
}

.info-card:hover .hover-effect {
  opacity: 1;
  animation: smooth 0.15s ease-in;
}

.info-card:hover .hover-icon {
  opacity: 1;
  animation: smooth 0.15s ease-in;
}

.info-card-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin-bottom: 8px;
}

.info-card-list {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  list-style: none;
}

.info-card-list-item {
  margin-top: 16px;
}

.cases {
  margin-top: 144px;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.request-header > p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 480px;
}

.request-header {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.request-header p:nth-child(2) {
  margin-top: 24px;
  margin-bottom: 18px;
}

.section-name {
  font-weight: 600;
  font-size: 48px;
}

.cases-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.grid-cell-1 {
  background-color: #8F6AFE;
}
.grid-cell-2 {
  background-color: #FFE381;
}
.grid-cell-3 {
  background-color: #B234FF;
}
.grid-cell-4 {
  background-color: #5051F9;
}
.grid-cell-5 {
  background-color: #F62675;
}
.grid-cell-6 {
  background-color: #FE6161;
}
.grid-cell-7 {
  background-color: #FDCF89;
}
.grid-cell-8 {
  background-color: #3DD27D;
}
.grid-cell-9 {
  background-color: #1DAEEC;
}
.grid-cell-10 {
  background-color: #F97422;
}

.case-item {
  height: 360px;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.case-item:hover .case-item-text { opacity: 1;}

.case-item-text {
  position: absolute;
  z-index: 1;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: transparent !important;
  background: linear-gradient(180deg, rgba(22, 22, 22, 0.28) 0%, #161616 100%);
  transition: all 0.5s ease-in-out;
}
.case-item-text-mobile {
  opacity: 1;
  transition: none;
}
.case-item-text > h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
}
.case-item-text > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  max-width: 330px;
}

.cases-carousel {
  height: 380px;
  width: 100%;
  overflow: hidden;
}
.cases-carousel-mobile, .team-carousel-mobile {
  width: 100%;
  overflow: hidden;
}
.cases-slider, #feedback-slider, #team-slider {
  /* display: flex; */
  height: 100%;
  width: 100%;
  position: relative;
}
#team-slider-mobile {display: none}
#feedback-slider {transition: all 0.5s ease-in-out}
#cases-carousel-container,
#feedback-carousel-container,
#team-carousel-container {
  display: flex;
  min-width: 100%;
  /* gap: 40px; */
  transition: all 0.5s ease-in-out;
  height: 350px;
}
#feedback-carousel-container, #team-carousel-container {
  height: 100%;
}
#feedback-car-mobile {margin-top: 120px;}
.cases-carousel-item {
  position: relative;
  height: 100%;
  width: 100%;
  /* min-width: 100%; */
  border-radius: var(--border-radius);
  overflow: hidden;
}
.cases-carousel-slide-counter,
.team-carousel-slide-counter {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin-top: 30px;
}

.cases-carousel-item-img {
  height: 360px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.case-item-joined-first { grid-area: 2 / 1 / 3 / 3; }
.case-item-joined-second { grid-area: 4 / 2 / 5 / 4; }

.case-item-img {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  transition: all 0.5s ease-in-out;
}


.save-health {
  left: -65px;
  transform: rotate(20deg) scale(1.1);
}
.hover-zone-1:hover .save-health {
  left: 0;
  transform: rotate(-1.1deg) scale(0.9);
}

.ukie {
  top: unset;
}
.hover-zone-2:hover .ukie {
  left: 0;
  bottom: -50px;
  transform: scale(1.3);
}

.real-estate {
  left: -190px;
  bottom: -75px;
  transform: scale(1.2);
}
.hover-zone-3:hover .real-estate {
  left: -20px;
  bottom: -50px;
  transform: scale(1);
}

.fin-pro {
  bottom: -75px;
  transform: scale(1.2);
}
.hover-zone-4:hover .fin-pro {
  bottom: 0;
  transform: scale(1);
}

.what-song {
  bottom: -210px;
  left: 13px;
  transform: scale(1.4);
}
.hover-zone-5:hover .what-song {
  bottom: -80px;
  transform: scale(1);
}

.clothing {
  bottom: -225px;
  left: -65px;
  transform: scale(1.4);
}
.hover-zone-6:hover .clothing {
  bottom: -40px;
  left: -10px;
  transform: scale(1);
}

.palmetto-front {
  height: 228px;
  bottom: -225px;
  right: -375px;
  transform: scale(1.3);
}
.hover-zone-7:hover .palmetto-front {
  left: -705px;
}
.palmetto-back {
  top: 163px;
  height: 263px;
  left: -205px;
  transform: scale(1.3);
}
.hover-zone-7:hover .palmetto-back {
  right: -525px;
}

.gaia-herbs {
  height: 363px;
  right: -150px;
  bottom: -65px;
}
.hover-zone-8:hover .gaia-herbs {
  right: -75px;
}

.rotate {
  transform: rotate(-45deg);
}
.bitpool-passion {
  top: 10px;
  height: 265px;
  left: -393px;
}
.hover-zone-9:hover .bitpool-passion {
  left: -1232px;
}
.bitpool-process {
  height: 265px;
  bottom: -603px;
  left: -208px;
}
.hover-zone-9:hover .bitpool-process {
  right: -925px;
}
.bitpool-passion-hovered {
  height: 265px;
  bottom: -603px;
  right: -925px;
}
.hover-zone-9:hover .bitpool-passion-hovered {
  right: 0;
  left: -145px;
}
.bitpool-process-hovered {
  top: 10px;
  height: 265px;
  left: -1232px;
}
.hover-zone-9:hover .bitpool-process-hovered {
  left: -400px;
}

.kopi-d {
  height: 363px;
  left: 170px;
  bottom: -200px;
  transform: scale(2.1);
}
.hover-zone-10:hover .kopi-d {
  left: 340px;
  bottom: -140px;
  transform: scale(1.5);
}

.tag {
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 10px 16px 8px 16px;
  cursor: pointer;
}

.tag-pressed {
  background-color: #fff;
  color: var(--hover-purple);
}

.tag-link {
  margin-left: 24px;
  color: #fff;
  text-decoration: none;
}

.tag-link:hover {
  border-color: var(--hover-purple);
  color: var(--hover-purple);
}

#feedback {
  overflow: hidden;
  margin: 120px -96px 0 -96px;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.name-margin {
  margin-left: 96px;
}

.carousel-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#carousel {
  height: 400px;
  width: fit-content;
  display: flex;
  transition: transform 330ms ease-in-out;
}

.carousel-card {
  height: 100%;
  width: 955px;
  background-color: var(--dark-grey-card);
  margin-right: 20px;
  border-radius: var(--border-radius);
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.slide-counter {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin-top: 530px;
  margin-left: 96px;
}

.slide-counter > span,
.cases-carousel-slide-counter > span,
.team-carousel-slide-counter > span {
  margin: 0 23px;
}

#prev-slide, #next-slide {
  cursor: pointer;
}
#current-slide,
#cases-carousel-current-slide,
#cases-carousel-current-slide-mob,
#team-carousel-current-slide-mob,
#team-carousel-current-slide {
  color: var(--hover-purple);
  min-width: 30px;
  display: inline-block;
}


.carousel-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.carousel-card-avatar {
  height: 112px;
  width: 112px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 32px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right-date {
  background-color: #000;
  height: 33px;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
}

.reviewer-name {
  font-weight: 500;
  font-size: 32px;
}

.reviewer-company {
  font-weight: 300;
  font-size: 16px;
  margin-top: 5px;
}

.quote {
  position: absolute;
  left: 14px;
  top: 177px;
}
.quote-mob {
  position: absolute;
  left: 5px;
  top: 126px;
}

.review-text {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
   margin-bottom: 32px;
}

.go-clatch {
  border: none;
  width: 133px;
  height: 49px;
  background: #9300FC;
  border-radius: 100px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.card-background {
  height: 568px;
  width: 568px;
  background: rgba(147, 0, 252, 0.3);
  filter: blur(250px);
  position: absolute;
  right: -215px;
  bottom: -260px;
}

.reasons, #process {
  margin-top: 144px;
}

.reasons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.background-reason-card {
  position: absolute;
  top: -100px;
  right: -385px;
  width: 612px;
  height: 77px;
  background: #9300FC;
  filter: blur(150px);
}

.reasons-card-header, .services-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.reasons-card-header > img {
  margin-right: 16px;
}
.services-card-header {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.card-name {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
}

.principle-title {
  margin-bottom: 24px;
}

.team, #team-slider-mobile {
  margin-top: 144px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.team-card-1 { grid-area: 1 / 1 / 3 / 3; }
.team-card-2 { grid-area: 1 / 3 / 3 / 5; }
.team-card-3 { grid-area: 1 / 5 / 3 / 7; }
.team-card-4 { grid-area: 3 / 1 / 5 / 4; }
.team-card-5 { grid-area: 3 / 4 / 5 / 7; }
.team-card-6 { grid-area: 5 / 1 / 7 / 3; }
.team-card-7 { grid-area: 5 / 3 / 7 / 5; }
.team-card-8 { grid-area: 5 / 5 / 7 / 7; }

.team-card-img {
  height: 360px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.team-carousel-item {
  position: relative;
  height: 360px;
  width: 100%;
  /* min-width: 100%; */
  border-radius: var(--border-radius);
  overflow: hidden;
}
.team-slider-img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s ease-in-out;
}

.rewards {
  margin-top: 144px;
  margin-bottom: 390px;
}

.rewards-scroll {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  height: 200px;
  overflow: scroll;
  overflow-x: visible;
}

.rewards-scroll::-webkit-scrollbar {
  display: none;
}

.reward {
  margin: 0 70px;
}

.request {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 144px;
}

.request-header, .request-form {
  width: 50%;
}

.request-form {
  display: flex;
  flex-direction: column;
}

.form-line {
  display: flex;
  flex-direction: row;
}

.form-line input:nth-child(1) {
  margin-right: 8px;
}

.form-line input:nth-child(2) {
  margin-left: 8px;
}

.form-field {
  border: none;
  padding: 16px 24px;
  height: 51px;
  background: #4A4A4A;
  border-radius: 8px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin: 8px 0;
  width: 100%;
}

.textarea {
  max-width: 100%;
  min-height: 51px;
  font-family: 'Gilroy', sans-serif;
}
.tags-list, .tags-list-blog {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tags-list-blog {
  margin-top: 24px;
  margin-bottom: 8px;
}
.tags-list {margin-top: 8px}

.attach-file {
  display: flex;
  align-items: center;
  margin: 40px 0;
  cursor: pointer;
  width: fit-content;
}

.attach-file > p {
  font-size: 24px;
  margin-left: 20px;
  font-weight: 300;
}

#send-request, #discuss-btn, #go-to-homepage {
  border: none;
  padding: 16px 24px;
  height: 52px;
  background: #9300FC;
  border-radius: 100px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
#discuss-btn {
  margin-top: 40px;
}
#go-to-homepage {margin-top: 48px}
#go-to-homepage > a {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.politics {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 8px;
}

.politics > a {
  color: #fff;
}

footer {
  margin-top: 144px;
  padding-top: 64px;
  padding-bottom: 50px;
  position: relative;
}

.footer-content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.footer-info {
  margin-top: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-left {
  width: 40%;
}

.footer-right {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-section-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}

.footer-section-list {
  list-style: none;
  line-height: 26px;
}

.footer-section-list > li > a {
  font-weight: 200;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.background-circle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: rgba(147, 0, 252, 0.7);
  filter: blur(300px);
  z-index: -1;
}

.link {
  text-decoration: none;
  margin-top: 15px;
}

.email-link {
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.email {
  display: flex;
  align-items: center;
}

.social-links {
  margin-top: 20px;
  display: flex;
  display: none;
}
.social-links a img {
  height: 30px;
}
.social-links a:not(:first-child):not(:last-child) {
  margin: 0 12px;
}

.contact-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 64px;
}
.contact-container-part {
  width: 50%;
}
.contact-container-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.7);
}

.contact-container-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-decoration: none;
  color: #fff;
}
.for-cosearchers {
  margin-top: 144px;
  padding: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.for-cosearchers > p {
  font-weight: 300;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 5px;
}
.for-cosearchers > a {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 3px solid #fff;
  width: max-content;
}
.bag {
  position: absolute;
  bottom: -10px;
  right: 140px;
  height: 270px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  background: #4A4A4A;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}
#search {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  background: none;
  width: 100%;
}
#search:focus {
  border: none;
  background: none;
  outline: none;
}
#search:active {
  border: none;
  background: none;
  outline: none;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 64px;
}
.blog-image {
  height: 322px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.blog-grid div:nth-child(1) { grid-area: 1 / 1 / 3 / 3; }
.blog-grid div:nth-child(2) { grid-area: 1 / 3 / 3 / 5; }
.blog-grid div:nth-child(3) { grid-area: 1 / 5 / 3 / 7; }
.blog-grid div:nth-child(4) { grid-area: 3 / 1 / 5 / 4; }
.blog-grid div:nth-child(5) { grid-area: 3 / 4 / 5 / 7; }
.blog-grid div:nth-child(6) { grid-area: 5 / 1 / 7 / 3; }
.blog-grid div:nth-child(7) { grid-area: 5 / 3 / 7 / 5; }
.blog-grid div:nth-child(8) { grid-area: 5 / 5 / 7 / 7; }

.blog-card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  max-width: 80%;
  margin: 16px 0 8px 0;
}
.blog-card-text {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  max-width: 310px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.services {
  margin-top: 242px;
}
.services-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.service-card-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  margin: 16px 0 24px 0;
}

/* #process {
  margin-bottom: 1000px;
} */
.process-layout {
  margin-top: 94px;
  position: relative;
}
.dashed-line-1,
.dashed-line-2,
.dashed-line-3,
.dashed-line-4 {
  position: absolute;
  z-index: -1;
}
.process-step {
  position: absolute;
  background: #161616;
  border: 4px solid #9300FC;
  border-radius: 12px;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  padding: 16px 24px;
  box-shadow: 0 0 61px #9300fc9c;
}
.process-step::after,
.process-step-mobile::after {
  content: "";
  background-image: url(/public/services/tip-corner.svg);
  position: absolute;
  height: 40px;
  width: 40px;
  top: -22px;
  right: -22px;
}
.process-step-1::before,
.process-step-2::before,
.process-step-3::before,
.process-step-4::before,
.process-step-5::before {
  position: absolute;
  left: -55px;
  top: 24px;
  font-weight: 600;
  font-size: 120px;
  color: rgba(147, 0, 252, 0.2);
  z-index: -1;
}
.process-step-1::before {
  content: '1';
  left: -38px;
}
/* .process-step-1:hover::after .process-step-1-tooltip {
  display: none;
} */
.process-step-1:hover + .process-step-1-tooltip{
  display: block;
}
.process-step-2:hover + .process-step-2-tooltip{
  display: block;
}
.dashed-line-1 {
  top: 40px;
  height: 284px;
  width: calc(100% - 441px);
  border: 4px dashed #a120ff;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left: none;
  margin-left: 254px;
}
.process-step-1-tooltip {
  display: none;
  position: absolute;
  top: -95px;
  left: 357px;
  max-width: 501px;
  padding: 16px 24px;
  background: #161616;
}
.process-step-1-tooltip::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #161616 transparent transparent transparent;
}
.process-step-2::before {content: '2'}
.process-step-2 {
  top: 189px;
  right: 0;
}
.process-step-2-tooltip {
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  max-width: 630px;
  padding: 16px 24px;
  background: #161616;
}
.process-step-2-tooltip::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #161616 transparent transparent;
}
.dashed-line-2 {
  top: 320px;
  height: 92px;
  width: 17px;
  border-top: 4px dashed #a120ff;
  border-left: 4px dashed #a120ff;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  margin-left: 239px;
}
.process-step-3::before {content: '3'}
.process-step-3 {top: 393px}
.dashed-line-3 {
  top: 434px;
  height: 284px;
  width: calc(100% - 441px);
  border: 4px dashed #a120ff;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left: none;
  margin-left: 254px;
}
.process-step-4::before {content: '4'}
.process-step-4 {
  top: 528px;
  right: 0;
}
.process-step-5::before {content: '5'}
.process-step-5 {top: 673px}
/* mobile payout */
.process-layout-mobile {
  margin-top: 94px;
  flex-direction: column;
  align-items: center;
  display: none;
}
.process-layout-mobile-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.process-step-mobile {
  position: relative;
  background: #161616;
  border: 4px solid #9300FC;
  border-radius: 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 49px;
  padding: 6px 14px;
  box-shadow: 0 0 61px #9300fc9c;
}
.dashed-line-mobile {
  height: 100px;
  border-left: 4px dashed #a120ff;
}
.process-step-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  max-width: 630px;
  padding: 16px 24px;
  background: #161616;
}
.process-step-tooltip::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #161616 transparent transparent;
}
.process-step-tooltip-mob-1, .process-step-tooltip-mob-2 {
  bottom: calc(100% + 25px);
  width: 300px;
}
.process-step-1-mobile:hover + .process-step-tooltip-mob-1,
.process-step-2-mobile:hover + .process-step-tooltip-mob-2{
  display: block;
}
/* .process-step-2-mobile:hover + .process-step-tooltip-mob-2{
  display: block;
} */
.carousel-card-mob {
  height: 100%;
  padding: 20px;
  background-color: var(--dark-grey-card);
}
.carousel-card-avatar-mob {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 32px;
}
.review-text-mob {
  font-weight: 200;
  font-size: 20px;
  line-height: 29px;
  /* margin-bottom: 32px; */
}

.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 110px;
}
.tech-stack-card-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  border-bottom: 3px solid var(--hover-purple);
  width: fit-content;
}
.libs-list {
  overflow-y: scroll;
}

@media (max-width: 1024px) {
  .wrapper {padding: 0 50px}
  .burger-body {font-size: 39px}
  .request {flex-direction: column}
  .request-header, .request-form {width: 100%}
  .request-header > p {max-width: none}
  .info-title {
    font-size: 49px;
    line-height: 70px;
  }
  .error-text {display: none}
  .principles-items {flex-direction: column}
  .principle-item {width: auto}
  .nav-item {display: none}
  .info-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .info-card {width: 100%}
  .reasons-grid{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .card-name {font-size: 26px}
  .team {display: none}
  #team-slider-mobile {display: block}
  footer {margin: 70px 15px 0 15px}
  .footer-content {flex-direction: column}
  .footer-left {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer-right {
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
  .footer-info {
    margin-top: 20px;
    font-size: 12px;
  }
}

@media (max-width: 680px) {
  .wrapper {padding: 0 20px}
  header {margin-top: 20px}
  .burger-body {font-size: 22px}
  .burger-menu-wrapper{margin: 40px 15px}
  .menu-pannel {gap: 30px}
  .social-links-burger {
    transform-origin: left;
    transform: scale(0.5)
  }
  .social-links {margin: 0}
  .languages {font-size: 24px}
  .section-name {font-size: 33px}
  .services {margin-top: 120px}
  .info-list, .service-card-text {font-size: 16px}
  .team-about {font-size: 18px}
  .request-header > p {font-size: 20px}
  .our-principles {margin-top: 100px}
  .info-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

#rocket-inimation {
  /* position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100; */
  max-width: 100%;
  max-height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.tns-nav, .tns-visually-hidden {
  display: none;
}

@-webkit-keyframes smooth {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
